// P R I M A R Y

$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

// N E U T R A L

$Very-dark-blue_main-BG: hsl(217, 54%, 11%);
$Very-dark-blue_card-BG: hsl(216, 50%, 16%);
$Very-dark-blue_line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

// F O N T  S I Z E

$Font-size-paragraph: 18px;

// F O N T  F A M I L Y

$font-Outfit: 'Outfit', sans-serif;